body {
  height: 100vh;
  margin: 0;
  background-color: #e8e8e8;
  cursor: pointer;
  letter-spacing: 0.05em;
}

header {
  height: 10vh;
  background-color: darkkhaki;
  border-bottom: 1px solid #fff;
  position: relative;
}

.head-section {
  float: right;
  margin-right: 24px;
  height: 10vh;
  display: table;
}
.head-section a {
  color: #696969;
  text-decoration: none;
  vertical-align: middle;
  display: table-cell;
  padding-right: 15px;
}
.head-section i {
  vertical-align: middle;
  display: table-cell;
  padding-right: 15px;
  font-size: 23px;
}
.head-section a:hover, .head-section i:hover {
  background-color: #eee787;
}

.top-of-sidebar {
  height: 10vh;
  width: 20%;
  background-color: darkkhaki;
  border-right: 1px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.menulist {
  margin: 0;
  padding: 10px 0 10px 13%;
  color: #696969;
}
.menulist a {
  display: block;
}

.sidebar {
  height: 89vh;
  width: 20%;
  background-color: darkkhaki;
  border-right: 1px solid #fff;
  position: relative;
  top: 0;
  left: 0;
}
.sidebar p {
  margin: 0;
  padding: 0 0 5px 13%;
  color: #e8e8e8;
}
.sidebar p:hover {
  background-color: #979356;
}

.main-content {
  position: absolute;
  top: 10vh;
  left: 20%;
  height: 89vh;
  width: 80%;
  margin-top: 1px;
}
.main-content p {
  margin: 0;
}

.create-menu-sec {
  margin: 25px;
  padding: 15px 10px;
}
.create-menu-sec a {
  background-color: #333333;
  opacity: 0.7;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.create-menu-sec p {
  display: inline-block;
  color: #696969;
}

.create-menu-sec:hover {
  background-color: #bdbbbb;
}
.create-menu-sec:hover p {
  color: #fff;
}

.hide-popup {
  display: none;
  z-index: 10000;
  height: 100vh;
  width: 100%;
  background-color: #333333;
  opacity: 0.3;
  position: absolute;
}

.popup .popup-form {
  padding: 9vh 0 5vh 0;
  height: 10vh;
  width: 50%;
  margin: 30vh auto 0 auto;
  text-align: center;
  background-color: #bdbbbb;
  position: relative;
}
.popup .popup-form .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}
.popup .popup-form input {
  border: none;
  outline: 0;
  font-size: 30px;
}
.popup .popup-form button {
  margin: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.search-form {
  margin: 30px;
  text-align: center;
}
.search-form input, .search-form button {
  padding: 3px 30px;
  border: 0;
}
.search-form button:hover {
  background-color: #bdbbbb;
}

.image-list-sec {
  text-align: center;
}
.image-list-sec img {
  height: 130px;
  width: 180px;
}

.pagination {
  font-size: 0;
  margin: 10px;
  display: inline-block;
}
.pagination .item {
  font-size: 16px;
  color: #333333;
  padding: 10px;
  background-color: #fff;
  text-decoration: none;
  border-right: 1px solid #333333;
}
.pagination .item:hover {
  background-color: #979356;
}

.setting-main {
  height: 80vh;
  width: 60%;
  background-color: #fff;
  margin: 30px auto 0 auto;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
}

.setting-contents {
  width: 80%;
  margin: 0 auto;
}
.setting-contents p {
  margin-top: 30px;
  padding-bottom: 13px;
  border-bottom: 1px solid #bdbbbb;
}
.setting-contents label {
  display: inline-block;
  margin-top: 18px;
}
.setting-contents button {
  letter-spacing: 0.05em;
  margin-top: 30px;
  padding: 3px 20px;
}
.setting-contents a {
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.carousel {
  width: 50%;
  margin: 40px auto;
}
.carousel .carousel-inner {
  position: relative;
  width: 200px;
  overflow: hidden;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 auto;
}
.carousel .carousel-indicators {
  bottom: -50px !important;
}

.carousel-item img {
  height: 200px;
}

.add-menu-list {
  width: 90%;
  margin: 60px auto 30px auto;
  background-color: #fff;
  height: 45vh;
  border: 1px solid;
}
.add-menu-list .add-items {
  height: 10vh;
  margin: 10px;
}
.table-wrap {
  overflow-x: scroll;
}

.table {
  width: 100%;
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 13px 15px;
}
.table img {
  height: 100%;
  width: 100px;
}
.table p {
  display: inline-block;
  overflow: hidden;
  width: 150px;
  margin-right: 10px;
}
.table span {
  padding: 10px 13px;
  background-color: #e8e8e8;
  margin-right: 10px;
}
.table span:hover {
  opacity: 0.7;
}
.table i {
  padding: 10px;
}

.table th,
.table td {
  padding: 4px 8px;
  border: 2px solid #eee;
  height: 10vh;
}
